@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;

  color: black;
}

.primary-color {
  background-color: #d1410c;
  color: white;
}

.primary-color:hover {
  background-color: #d1410c;
  color: black;
}

.text-primary {
  color: #d1410c;
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white;
  color: #d1410c;
  padding: 10px 20px;
  z-index: 1000; /* Agar selalu di atas elemen lainnya */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Opsional untuk efek */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  color: #d1410c;
  text-decoration: none;
  font-weight: bold;
}

body {
  padding-top: 60px; /* Berikan padding agar konten tidak tertutup navbar */
}

.btn-bg-white {
  background-color: white;
  color: #d1410c;
  border: none;
  margin-right: 10px;
}

.btn-bg-white:hover {
  background-color: #d1410c;
  color: white;
  border: none;
}

.btn-bg-primary {
  background-color: #d1410c;
  color: white;
  border: none;
  margin-right: 10px;
}
